/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

body {
  font-size: 75%; /* resets the standard font-size to 12px */
  font-weight: bold;
  font-family:
      "Verdana CE", Verdana,
      "Helvetica CE", Helvetica,
      "Arial CE", Arial,
      sans-serif;
}

/* centers the content */
.board {
  width: 300px;
  height: 300px;
  margin: 2em auto;
}

.field {
  height: 30px;
  width: 30px;
  border: solid 1px black;
  float: left;
  background-color: #FFF68F;
}

.field.first {
  clear: both;
}

.black {
  background-color: black;
}