body {
  background-color: #458B00;
  color: #666666;
}

#wrapper {
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 600px;
  left: 5px;
  padding: 10px;
  background-color: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

nav {
  position: absolute;
  top: 0px;
  left: 220px;
  display: none;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 15px;
}

a {
  color: #333333;
}

h1 {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 0px;
  color: #CCCCCC;
  padding-left: 50px;
  background: url(../images/favicon.png);
  background-repeat: no-repeat;
}

#game_links {
  position: absolute;
  top: 415px;
  left: 200px;
  display: none;
  list-style-type: none;
}

#game_links li {
  display: inline-block;
  margin-right: 10px;
}

#games {
  position: absolute;
  top: 70px;
  left: 650px;
  height: 350px;
  padding: 0px;
}

#games li {
  display: inline-block;
  margin-bottom: 15px;
  height: 100px;
}

div.board {
  width: 300px;
  height: 300px;
  padding: 0px;
  margin: 0px;
}

div.opponent {
  position: absolute;
  width: 300px;
  color: black;
  font-size: 11px;
}

div.game {
  position: absolute;
  border: solid 8px #AAAAAA;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

div.game p {
  margin-left: 20px;
}

div.game.animate {
  -webkit-transition: -webkit-transform 0.7s linear;
  -moz-transition: -moz-transform 0.7s linear;
  -o-transition: -o-transform 0.7s linear;
  transition: transform 0.7s linear;
}

div.game.active {
  border: solid 8px #008B00;
}

div.game.ended {
  border: solid 8px #000000;
}

#info {
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 0px;
  margin: 0px;
}

.field {
  width: 33.33px;
  height: 33.33px;
  background-image: url(../images/cross.png);
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.active.playable:not(.ended) .field:hover {
  background-image: url(../images/cross_hover.png);
}

.active.white.playable:not(.ended) .field:hover {
  background-image: url(../images/white_hover.png);
}

.active.black.playable:not(.ended) .field:hover {
  background-image: url(../images/black_hover.png);
}

.field.black {
  background-image: url(../images/black.png);
}

.field.white {
  background-image: url(../images/white.png);
}

form {
  display: inline;
}

#flash {
  display: none;
  position: fixed;
  bottom: 1em;
  left: 600px;
  padding: 1em;
  font-weight: normal;
  color: #FFF;
  background-color: #444;
  background-color: rgba(0,0,0,0.7);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  z-index: 200;
}

#login {
  display: none;
}

#join {
  display: none;
}

.register_form {
  border-right: 1px solid #AAAAAA;
}
.error {
  color: red;
  margin-top: 10px;
}
.login_form {
  margin-left: 10px;
}
.login_form, .register_form {
  float: left;
  width: 240px;
}
.login_form table, .register_form table {
  margin-bottom: 15px;
}
.login_form td, .register_form td {
  text-align: left;
}

.players {
  list-style-type: none;
  margin-left: 10px;
  padding-left: 0px;
}

.players li {
  margin-bottom: 5px;
}

.players li span {
  font-weight: bold;
}

#open_games {
  position: absolute;
  top: 100px;
  left: 100px;
  list-style-type: none;
}

#open_games li {
  display: block;
  padding: 5px;
  margin: 5px;
  border: solid 1px #888888;
  background-color: #F3F3F3;
  width: 300px;
}

#open_games li span {
  float: right;
}