body {
  background-color: #458B00;
  color: #666666;
}

#wrapper {
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 800px;
  left: 5px;
  padding: 10px;
  background-color: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

nav {
  position: absolute;
  top: 0px;
  left: 500px;
  display: none;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 15px;
}

a {
  color: #333333;
}

h1 {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 0px;
  color: #CCCCCC;
  padding-left: 50px;
  background: url(../images/favicon.png);
  background-repeat: no-repeat;
}

#go {
  position: absolute;
  top: 90px;
  left: 160px;
  width: 300px;
  height: 300px;
  padding: 0px;
}

#games {
  position: absolute;
  top: 70px;
  left: 600px;
  width: 150px;
  border: solid 1px black;
  height: 450px;
  padding: 0px;
  overflow: hidden;
}

#games li {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
  border: solid 1px gray;
  -webkit-transition: -webkit-transform 0.7s linear;
  -moz-transition: -moz-transform 0.7s linear;
  -o-transition: -o-transform 0.7s linear;
  transition: transform 0.7s linear;
}

#info {
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 0px;
  margin: 0px;
}

.field {
  width: 33.33px;
  height: 33.33px;
  background-image: url(../images/cross.png);
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.field:hover {
  background-image: url(../images/cross_hover.png);
}

.field.black {
  background-image: url(../images/black.png);
}

.field.white {
  background-image: url(../images/white.png);
}

form {
  display: inline;
}

#flash {
  display: none;
  position: fixed;
  bottom: 1em;
  left: 600px;
  padding: 1em;
  font-weight: normal;
  color: #FFF;
  background-color: #444;
  background-color: rgba(0,0,0,0.7);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#login {
  display: none;
}

#join {
  display: none;
}

.register_form {
  border-right: 1px solid #AAAAAA;
}
.error {
  color: red;
  margin-top: 10px;
}
.login_form {
  margin-left: 10px;
}
.login_form, .register_form {
  float: left;
  width: 240px;
}
.login_form table, .register_form table {
  margin-bottom: 15px;
}
.login_form td, .register_form td {
  text-align: left;
}